# Shared
NODE_ENV=development
APP_NAME=FVPlace Nova
NEXT_TELEMETRY_DISABLED=1
PUBLIC_APP_URL=fvplace.runflare.run:3000

# API
API_PORT=4000
API_BASE_URL=fvplace.runflare.run:4000
CORS_ORIGIN=fvplace.runflare.run:3000
MONGODB_URI=mongodb://admin:iRva34inzNWeDdSGqN1p@fvpdb-svp-service:27017/admin
JWT_ACCESS_SECRET=8xKj9mN2pQr5tUv7wXy1zA3bC4dE6fG8hJ0kL
JWT_REFRESH_SECRET=mP3sV7wXzA2cD5fG8hJ1kL4nP6qR9tUvWyZ0
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX=600
MAX_UPLOAD_MB=1024
LOCAL_STORAGE_DIR=uploads
